<!doctype html>
<html>
    <head>

            <title>New User Registration</title>
        <style>
                    .error { color: red; }
                       
        </style>
    </head>
    <body>
        <h2>NEW USER SIGNUP</h2>
        <form action="/user" method="POST">
           <table>
                <tbody>
                    <tr>
                      <td>
                          <label>Enter Username
                          <input name="user_name" type="text" value='{{user_name}}'  />
                          </label>
                       </td>
                       <td>
                            <p class="error">{{user_error}}</p>
                       </td>
                     </tr>
                     <tr>
                       <td>
                           <label>Enter Password
                           <input name="password" type="password" value='{{password}}' />
                            </label>
                       </td>
                       <td>
                            <p class="error">{{password_error}}</p>
                        </td>
                     </tr>
                     <tr>
                         <td>
                            <label>Confirm Password
                             <input name="confirm" type="password" value='{{confirm}}' />
                            </label>
                          </td>
                          <td>
                              <p class="error">{{confirm_error}}</p>
                           </td>
                      </tr>
                       <tr>
                          <td>
                              <label>Enter Email(Optional)
                               <input name="email" type="text" value='{{email}}' />
                              </label>
                           </td>
                            <td>
                               <p class="error">{{email_error}}</p>
                             </td>
                        </tr>
                </tbody>
            </table>
            <input type="submit">
        </form>           

   
    </body>
</html>